@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assalomu alaykum </h1>
    <p>Learn about <a href="https://www.olx.uz/">Olx ni clone qilib qo'yaveramizami'</a>.</p>
</div>
